@{
    ViewData["Title"] = "About Blueready Search";
}
<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-12">
            <h3><u>Our Mission:</u><br /> @ViewData["Mission"]</h3><br />
            <h4>Our goal is to:</h4>
            <ul>
                <li><p>Make it easy for you to find the most important documents like Images,PDFs,Word and Excel Files</p></li>
                <li><p>We let you group the documents any way you want so that you can find them easily</p></li>
                <li><p>The system also gives your organization the ability to make the documents either private or public for others to find</p></li>
            </ul>
            <br />
            <p>Contact us now to <a href="/Home/contact">learn more </a> about this time saving tool for your organization</p>
        </div>
    </div>
</div>


   
